nav{
    font-style: italic;
    font-size: large;
    align-items: center;
    justify-content: center;
    color: blanchedalmond;
}

nav input{
    width: 13vw;
    height: 3.5vh;
    border-radius: 13px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}
.nav a{
    padding: 2vh;
    color: black;
    text-decoration: none;
}
.product{
    display: flex;      
    height: auto;
}

.prod-img{
    min-width: 25%;
    max-width: 50%;
        display: flex;
    justify-content: center;
    align-items: center;
    
}

.prod-img img{
    
    min-height: 30vh;
    max-height: 50vh;
    width:fit-content  
}

.desc{   
    min-width: 50%;
    max-width: 75%;
    color: black;
    background-color: rgb(228, 228, 255);
    padding: 15px;
    font-size: medium;
}

.add-cart{
    background-color: rgb(226, 226, 31);
    min-height: 5vh;
    width: 15vw;
    font-size: medium;
    border-radius: 13px;
    
}

.large{
    font-size: large;
}

nav button{
    border-radius: 15px;
    min-width: 5vw;
    min-height: 5vh;
}

footer{
    background-color: rgb(221, 221, 221);
    margin-top: 15vh;
}
